body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

header {
  width: 100%;
  position: fixed;
  z-index: 50;
}

nav {
  width: 100%;
  background: white;
}

.nav-block {
  display: inline-flex;
  list-style: none;
  position: absolute;
  padding-right: 50px;
  right: 0;
  margin: 0;
}

.nav-item {
  padding: 20px;
  display: inline-block;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 3.125rem;
  margin-bottom: 20px;
  /* color: #FAC213; */
}

.unihost {
  color: green;
}

h3 {
  font-family: 'Abril Fatface', sans-serif;
  color: gray;
}

/* h4 {
  margin: auto;
  padding: 20px;
  display:inline-block;
  width: 100px;
} */
h3+p {
  color: gray;
}

.contact-img {
  width: 100%;
}

a {
  text-decoration: none;
  color: gray;
}

/* button>a {
  color: white;
} */
.banner {
  width: 100%;
  position: relative;
  padding-top: 64px;
}

.call-to-action {
  max-width: 40%;
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 25%;
}

.mid-container {
  background: white;
  width: 100%;
  height: auto;
}

.cards {
  width: 300px;
  height: 200px;
  margin: 50px;
  display: inline-block;
  color: #0988b5;
  text-align: left;
}

.LR-container {
  text-align: center;
}

.btn {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  /* font-family: Inter, sans-serif; */
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}

.plan-btn {
  cursor: pointer;
  width: 100%;
  height: 48px;
  background-color: #06f;
  position: absolute;
  bottom: 0;
  left: 0;
  border: 0;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  color: white;
}

.plan-btn:hover {
  background: #0988b5;

}

/* .brand-id {
  display: inline-block;
} */

.brand-logo {
  width: 60px;
  padding-left: 15px;
}

.brand-text {
  color: black;
  position: absolute;
  display: inline-block;
  top: 20px;
  padding: 0 20px;
}

.bottom-sec {
  text-align: center;
  background: #0ab9e8;
  width: 100%;
  height: 300px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.mid-sec {
  background: white;
}

.mid-sec>p {
  color: #0ab9e8;
  text-align: center;
}

.success {
  font-size: 17px;
  color: white;
  width: 600px;
  margin: auto;
  padding: 100px 0;
}

.banner-img {
  width: 100%;
}

.foot-li {
  color: #fff;
  font-size: 14px;
}

.foot-info {
  display: inline-block;
  list-style: none;
}

footer {
  padding: 100px 10px 10px;
  background: #0988b5;
  color: white;
}

.plan {
  width: 300px;
  height: 400px;
  border-radius: 15px;
  display: inline-block;
  border: 1px solid #0988b5;
  border-top: 10px solid #0988b5;
  margin: 0 20px;
  position: relative;
  vertical-align: top;
  color: gray;
  /* moz-border-sizing: border-box;
  webkit-border-sizing:border-box; */
  box-sizing: border-box;
}

.plan-section {
  padding: 100px 0;
}

.plan-box {
  width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.plan-li {
  text-align: left;
  display: inline-inline-block;
}
