body {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

nav {
  width: 100%;
  background: white;
}

h1 {
  font-family: 'Abril Fatface', sans-serif;
  font-size: 3.125rem;
  margin-bottom: 20px;
  /* color: #FAC213; */
}

h3 {
  font-family: 'Abril Fatface', sans-serif;
  color: gray;
}

h3 + p {
  color: gray;
}

.nav-block {
  display: inline-block;
  list-style: none;
  position: absolute;
  padding-right: 50px;
  right: 0;
  margin: 0;
}

.nav-item {
  padding: 20px;
  display: inline-block;
}

a {
  text-decoration: none;
  color: gray;
}

/* button>a {
  color: white;
} */
.banner {
  width: 100%;
  position: relative;
}

.call-to-action {
  max-width: 40%;
  display: inline-block;
  position: absolute;
  left: 5%;
  top: 25%;
}

.mid-container {
  background: white;
  width: 100%;
  height: auto;
}

.LR-container {
  /* align-items: center; */
  width: auto;
  height: auto;
  margin: auto;
}

.L-side, .C-side, .R-side {
  width: 300px;
  height: 200px;
  margin: 50px 50px;
  display: inline-block;
  color: #0988b5;
}

.btn {
  align-items: center;
  background-color: #06f;
  border: 2px solid #06f;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:focus {
  color: #171e29;
}

.btn:hover {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

.btn:active {
  background-color: #3385ff;
  border-color: #3385ff;
  fill: #06f;
}

@media (min-width: 768px) {
  .btn {
    min-width: 170px;
  }
}

.brand-id {
  max-width: 100px;
  padding: 10px 35px;
  display: inline-block;
}

.brand-logo {
  width: 40px;
}

.bottom-sec {
  text-align: center;
  background: #0ab9e8;
  width: 100%;
  height: 300px;
  color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.success {
  font-size: 17px;
  color: white;
  width: 600px;
  margin: auto;
  padding: 100px 0;
}

.banner-img {
  width: 100%;
}

.foot-li {
  color: #fff;
  font-size: 14px;
}

.foot-info {
  display: inline-block;
  list-style: none;
}

footer {
  padding: 100px 10px 10px;
  background: #0988b5;
  color: white;
}
